doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .breadcrumb
            .container
                .row
        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade