doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .breadcrumb.dichvu.align-items-center(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    h1 
                        span DỊCH VỤ TRỊ LIỆU
        .dichvu_ct(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    .col-xl-4.bg_left.col-md-5
                        .danh_muc_dv
                            h2 Danh mục dịch vụ 
                            span 
                            span 
                            span 
                        .open_tab_dichvu
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#dichvu1').scroll Dịch vụ đặc biệt
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#dichvu2').scroll chăm sóc da mặt 
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#dichvu3').scroll Massage ấn huyệt trị liệu
                            .newslatest
                                h4 Bài viết mới nhất
                                ul
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 233.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 234.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 235.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 236.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 237.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                    .col-xl-8.bg_right.col-md-7
                        .tab-content
                            #dichvu1.tab-pane.container.active
                                .row
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 239.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 240.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 241.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 242.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                            #dichvu2.tab-pane.container.fade
                                .row
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 239.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 240.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                            #dichvu3.tab-pane.container.fade 
                                .row
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 239.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 240.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN
                                    .col-xl-6
                                        a(href="#").item
                                            img(src="assets/img/dichvu/Rectangle 241.png", alt="")
                                            h2 FACIAL MASSAGE | CHĂM SÓC DA MẶT TOÀN DIỆN

        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade