doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        include inc/slider.jade
        include inc/section-1.jade
        include inc/section-2.jade
        include inc/section-3.jade
        include inc/script.jade