doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .breadcrumb.intro.align-items-center
            .container
                .row
                    h1 
                        span AN’s Spa – Spa trị liệu Việt
                        span “Nơi sức khỏe và hạnh phúc trở về”
        .introduce_ct
            .color1(data-aos="fade-up"  data-aos-duration="2000")
                .container
                    h2 CHÀO MỪNG BẠN ĐẾN VỚI AN’S SPA.
                    p Chào mừng bạn đến An’s Spa – nơi giúp bạn có được cảm giác thư giãn thật sự đồng thời giành lại sức sống tiềm tàng, mạnh mẽ vốn có từ tạo hoá. Đến với An’s Spa, bạn là người khách trân quý sức khỏe, tinh thần, nên chúng tôi có những giải pháp thư giãn tốt cho sức khỏe phù hợp với mọi người, mọi lứa tuổi và thu hút hơn là những gói dịch vụ dành riêng cho gia đình, couple rất được nhiều người mong đợi.
                    .row
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 145.png", alt="")
                            h4 PHÒNG GIA ĐÌNH
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 146.png", alt="")
                            h4 PHÒNG GIA ĐÌNH
            .color2(data-aos="fade-up"  data-aos-duration="2000")
                .container
                    p Nội thất tại An’s Spa được thiết kế theo phong cách Nhật bản cổ điển pha lẫn chút hiện đại. Sẽ có một vài căn phòng vẫn giữ nguyên bản Thuần Việt dành cho những khách hàng yêu thích và muốn tìm hiểu văn hóa Spa nơi đây. An’s Spa sẽ giúp bạn cảm nhận được một thế giới khác biệt, bạn sẽ tìm về sự trầm lắng và thanh thản hơn sau những ngày mệt mỏi với cuộc sống công việc mọi ngày.
                    .row
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 156.png", alt="")
                            h4 PHÒNG FOOT MASSAGE
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 157.png", alt="")
                            h4 PHÒNG XÔNG HƠI
            .color3(data-aos="fade-up"  data-aos-duration="2000")
                .container
                    p Với các bài massage ứng dụng khí công và day ấn huyệt mà đôi bàn tay điêu luyện của các KTV được học lập từ bài học của Lương y Phan Cao Bình, đặc biệt là dịch vụ Head Massage được nghiên cứu bởi lương y – chuyên gia Phan Cao Bình trên 30 năm kinh nghiệm trong ngành là nét đặc sắc có 1 không 2 tại Việt Nam. An’s Spa sẽ đáp ứng đa dạng nhu cầu của khách hàng từ những phương pháp thư giãn cơ thể đến những liệu trình điều trị bệnh lý. Đội ngũ của An’s Spa được huấn luyện bài bản để mang lại cảm giác thoải mái nhất trong khi thực hiện các liệu trình chăm sóc cơ thể cho khách hàng. An’s Spa luôn mong muốn mang đến điều tuyệt vời nhất cho khách hàng từ mặt chuyên môn đến sự phục vụ tận tình của mình.
                    .row
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 158.png", alt="")
                            h4 AN’S SPA VINH HẠNH ĐÓN TIẾP QUÝ KHÁCH
                        .col-xl-6.item
                            img(src="assets/img/introduce/Rectangle 159.png", alt="")
                            h4 AN’S SPA NƠI SỨC KHỎE VÀ HẠNH PHÚC TRỞ VỀ
        include inc/section-8.jade
        include inc/section-9.jade
        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade