doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .breadcrumb.khoahoc.align-items-center(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    h1 
                        span khóa học message
        .khoahoc_ct(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    .col-xl-6
                        a(href="#").item
                            img(src="assets/img/khoahoc/Rectangle 151.png", alt="")
                            h2 Khóa massage trị liệu 3 trong 1
                    .col-xl-6
                        a(href="#").item
                            img(src="assets/img/khoahoc/Rectangle 152.png", alt="")
                            h2 Khóa massage trị liệu chuyên sâu
                    .col-xl-6
                        a(href="#").item
                            img(src="assets/img/khoahoc/Rectangle 153.png", alt="")
                            h2 Khóa massage trị liệu 3 trong 1
                    .col-xl-6
                        a(href="#").item
                            img(src="assets/img/khoahoc/Rectangle 154.png", alt="")
                            h2 Khóa massage trị liệu chuyên sâu
        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade