doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .news_ct(data-aos="fade-up"  data-aos-duration="2000")
            .container
              .news_top
                .row
                    .col-xl-7.left
                        a(href="#").item
                            img(src="assets/img/news/Rectangle 176.png", alt="")
                            h2 Bí Quyết Massage Trị Liệu Tại Nhà Giảm Mỏi Mắt
                    .col-xl-5.right
                      a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 177.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                      a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 178.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                      a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 179.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
              .news_bottom
                .row
                  .col-xl-8.left
                    a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 181.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                    a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 182.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                    a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 183.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                    a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 184.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                    a(href="#").item
                        .img
                          img(src="assets/img/news/Rectangle 185.png", alt="")
                        .text
                          h2 Massage body đối với sức khỏe và làm đep.
                          p Massage body đối với sức khỏe và làm đep...
                          span 12/11/2019
                  .col-xl-4.right      
                    .banner
                      img(src="assets/img/news/Rectangle 186.png", alt="")
                    .newslatest
                      h4 Bài viết mới nhất
                      ul
                          li
                            a(href="#")
                              .img
                                img(src="assets/img/news/Rectangle 190.png", alt="")
                              .text
                                h2 Massage body đối với sức khỏe và làm đep.
                                span 12/11/2019 
                          li
                            a(href="#")
                              .img
                                img(src="assets/img/news/Rectangle 191.png", alt="")
                              .text
                                h2 Massage body đối với sức khỏe và làm đep.
                                span 12/11/2019
                          li
                            a(href="#")
                              .img
                                img(src="assets/img/news/Rectangle 192.png", alt="")
                              .text
                                h2 Massage body đối với sức khỏe và làm đep.
                                span 12/11/2019 
                          li
                            a(href="#")
                              .img
                                img(src="assets/img/news/Rectangle 193.png", alt="")
                              .text
                                h2 Massage body đối với sức khỏe và làm đep.
                                span 12/11/2019  
                          li
                            a(href="#")
                              .img
                                img(src="assets/img/news/Rectangle 194.png", alt="")
                              .text
                                h2 Massage body đối với sức khỏe và làm đep.
                                span 12/11/2019       
                         
        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade