doctype html
html
    include inc/head.jade
    body
        include inc/menu.jade
        .breadcrumb.dichvu.align-items-center(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    h1 
                        span GÓI CHĂM SÓC SỨC KHOẺ 
                            br
                            | “REAL CARE”
        .dichvu_ct(data-aos="fade-up"  data-aos-duration="2000")
            .container
                .row
                    .col-xl-4.bg_left.col-md-5
                        .danh_muc_dv
                            a
                                h2 Danh mục dịch vụ 
                                span 
                                span 
                                span 
                        .open_tab_dichvu
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(href='dichvu.html').scroll Dịch vụ đặc biệt
                                li.nav-item
                                    a.nav-link(href='dichvu.html').scroll chăm sóc da mặt 
                                li.nav-item
                                    a.nav-link(href='dichvu.html').scroll Massage ấn huyệt trị liệu
                            .newslatest
                                h4 Bài viết mới nhất
                                ul
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 233.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 234.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 235.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 236.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                                    li
                                            a(href="#")
                                                    img(src="assets/img/dichvu/Rectangle 237.png", alt="")
                                                    p Massage body đối với sức khỏe và làm đep.
                            .thong-tin-lien-he
                                h4 Thông tin liên hệ
                                p 
                                    strong Địa chỉ: 
                                    span Hẻm 18Bis Nguyễn Thị Minh Khai, Quận 1 
                                p 
                                    strong Hotline: 
                                    a(href="tel:028 6286 0007") 028 6286 0007
                                p
                                    strong Facebook: 
                                    a(href='#') https://www.facebook.com/ansspavn/ 
                                p
                                    strong Website: 
                                    a(href='#') https://an-spa.vn/
                    .col-xl-8.bg_right.col-md-7
                        .details
                            h2 AN’S SPA – GÓI CHĂM SÓC SỨC KHOẺ “REAL CARE” LỰA CHỌN MỚI & SÁNG SUỐT CHO BẢN THÂN & COMPANY BENEFIT
                            h3 Các hình thức company benefit hiện có:
                            ul
                                li 1. Tham gia bảo hiểm sức khoẻ cho nhân viên 
                                li 2. Tặng voucher ăn uống cho nhân viên 
                                li 3. Cho nhân viên đi du lịch
                                li 4. Gói khám sức khoẻ định kỳ 
                                li 5. Chuẩn bị thức ăn nước uống cho nhân viên tại công ty
                            p Tất cả những cách thức trên không còn mới mẻ và bạn muốn có thêm 1 công cụ không những giúp bạn thể hiện sự quan tâm chân thành đến bản thân mình và nhân viên, mà còn giúp bạn & nhân viên tăng cường sức khoẻ và tinh thần, từ đó nâng cao năng suất, hiệu quả làm việc!! Hãy để AN’s spa giúp bạn thực hiện điều trên với gói chăm sóc sức khoẻ REAL CARE gồm các bài massage ấn huyệt trị liệu ứng dụng khí công và y học cổ truyền của Lương Y Phan Cao Bình có trên 30 năm kinh nghiệm, các bài massage phù hợp cho mọi lứa tuổi, mọi giới tính!! Đặc biệt, AN’s spa có chuyên viên tư vấn & trị liệu sức khoẻ tại nhà khi cần!!
                            h3 Gói chăm sóc sức khoẻ REAL CARE của An’s spa gồm:
                            ul
                                li 1. Xem mạch và tư vấn sức khoẻ định kỳ bởi chuyên gia 
                                li 2. Thư giãn và trị liệu tinh thần, sức khoẻ với các bài massage ấn huyệt tại một không gian sang trọng, nghiêm chỉnh, yên tĩnh. 
                                li 3. Cân bằng tinh thần, cải thiện sức khoẻ & tinh thần bằng các bài luyện tập khí công.
                            h3 Lợi ích gói chăm sóc sức khoẻ REAL CARE mang lại:
                            ul
                                li 1. Giúp doanh nghiệp thể hiện sự quan tâm chân thành đến nhân viên: gói dịch vụ không chỉ dùng riêng cho nhân viên, bạn bè, đối tác, người thân của nhân viên vẫn có thể cùng sử dụng. 
                                li 2. Giúp nhân viên cải thiện sức khoẻ và tinh thần một cách đáng kể sau liệu trình 10 lần. 
                                li 3. Giúp nhân viên ngăn ngừa các bệnh hay gặp khi ngồi làm việc thường xuyên như: Rối loạn tiền đình, suy nhược thần kinh, mất ngủ, đau đầu, căng thẳng, thoái hoá đốt sống cổ, viêm xoang, hỗ trợ điều trị đau lưng, thoái hoá cột sống, thần kinh toạ.
                            h3 Gói chăm sóc sức khoẻ REAL CARE tại An’s spa như thế nào?
                            ul
                                li 1. Giá 5.000.000 vnd/người cho gói LOẠI 1, 4.000.000 vnd/người cho gói LOẠI 2 
                                li 2. Thời gian sử dụng: không giới hạn 
                                li 3. Địa điểm sử dụng: AN’s spa – Spa trị liệu Việt tại Hẻm 18Bis/12 Nguyễn Thị Minh Khai, P. Đa Kao, Quận 1. TP. HCM 
                                li 4. Hotline đặt hẹn: 028 6286 0007 
                                li 5. Website: an-spa-vn 
                                li 6. Dịch vụ cung cấp:
                                    ul.text
                                        li 0 lần xem mạch & tư vấn sức khoẻ bởi chuyên gia y học cổ truyền 
                                        li 10 lần massage, mỗi lần 90’ cho gói 5 triệu và 60′ cho gói 4 triệu tại AN’s spa. 
                                        li 10 lần xông hơi ướt và xông khô đá muối hồng ngoại 
                                        li 10 buổi hướng dẫn khí công
                                        li Các thức ăn và nước uống thảo dược tốt cho sức khoẻ sử dụng trong liệu trình 
                                        li Tư vấn & trị liệu tại nhà khi cần
                            h4 Spa trị liệu Việt – Dành cho cả NAM và NỮ!
                            .social
                                span Share:
                                ul
                                    li
                                        a(href="#")
                                            .icon-facebook.icon
                                    li
                                        a(href="#")
                                            .icon-instagram.icon
                                    li
                                        a(href="#")
                                            .icon-pinterest.icon
                                    li
                                        a(href="#")
                                            .icon-twitter.icon
                                    li
                                        a(href="#")
                                            .icon-linkedin.icon
                            .comments
                                h3 Bình luận
                                form.row.justify-content-between
                                    .left
                                        img(src="assets/img/details/Rectangle 269.png", alt="")
                                    .right
                                        textarea#textarea
                                        .row.justify-content-between
                                            span 20 bình luận
                                            input(type='submit' value="Gửi").button
                                .comment-item
                                    .img
                                        img(src="assets/img/details/Rectangle 271.png", alt="")
                                        span Nguyễn Hồng Anh
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    .comment-reply 
                                        a.reply(href='#') Trả lời
                                        .like
                                            .icon-like
                                            span Thích
                                        span.date 1 ngày trước
                                .comment-item
                                    .img
                                        img(src="assets/img/details/Rectangle 271.png", alt="")
                                        span Nguyễn Hồng Anh
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    .comment-reply 
                                        a.reply(href='#') Trả lời
                                        .like
                                            .icon-like
                                            span Thích
                                        span.date 1 ngày trước
                                .comment-item
                                    .img
                                        img(src="assets/img/details/Rectangle 271.png", alt="")
                                        span Nguyễn Hồng Anh
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    .comment-reply 
                                        a.reply(href='#') Trả lời
                                        .like
                                            .icon-like
                                            span Thích
                                        span.date 1 ngày trước

                
        include inc/section-7.jade
        include inc/footer.jade
        include inc/script.jade