@media (max-width: 767px) {
  #header #logo {
    margin: 0 0 20px 0; }
  #header #header-rg {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .section.bg-1 .item {
    margin: 0 0 30px 0 !important; }
    .section.bg-1 .item:last-child {
      margin: 0 !important; }
  .section.bg-2 .button {
    width: 100%; } }
