@media(max-width: 1199px)
  .section
    &.bg-2 
      .bg
        background-size: cover
    &.bg-3 
      .left
        padding: 0
        margin: 0 0 30px 0
      .right
        padding: 0
        .item
          &.item-text-left, &.item-text-right
            .text, img
              width: 100%
          &.item-text-left
            margin: 0 0 30px 0
    &.bg-5 
      .item 
        a 
          .text
            width: calc(100% - 150px)
    &.bg-6
      .col-lg-6:nth-child(1),.col-lg-6:nth-child(2)
        margin: 0 0 30px 0
    &.bg-8 
      h2
        &::before
          left: 0
          top: 	-20px
        &::after
          right: 0
          bottom: 	-20px
    &.bg-9
      .bg-2
        padding: 30px 0
  .introduce_ct 
    .item
      &:nth-child(1)
        margin: 0 0 30px 0
@media(max-width: 767px)
  #header
    #logo
      margin: 0 0 20px 0
    #header-rg
      justify-content: center !important
  .section
    padding: 30px 0
    .heading
      h2
        font-size: 30px
    &.bg-1 
      .item
        margin: 0 0 30px 0 !important
        padding: 0
        &:last-child
          margin: 0 !important
    &.bg-2 
      .button
        width: 100%
      .item
        padding: 15px
    &.bg-5 
      .item 
        a 
          display: block
          .img
            position: unset
            width: 153px
            height: 158px
            margin: 0 auto
            &::before
              display: none
          .text
            width: 100%
            padding: 15px
            span
              bottom: 15px
              right: 15px
    &.bg-6
      .col-lg-6
        margin: 0 0 30px 0
        &:last-child
          margin: 0
    &.bg-9 
      .bg-2 
        .text
          padding: 0 15px
  .breadcrumb 
    h1 
      span
        &:nth-child(1)
          font-size: 30px
  .introduce_ct 
    h2
      font-size: 30px
  #copyright 
    p
      text-align: center
    img
      float: none
      margin: 20px auto 0
      display: block
      max-width: 100%
  .mobile
    display: block
  .desktop
    display: none
  .dichvu_ct
    .bg_right
      padding: 0
      .nav
        background-color: #fff
        margin: 30px 0 0 0
        li
          a
            background: none
    