@media(max-width: 1199px)
  .section
    &.bg-2 
      .bg
        background-size: cover
    &.bg-3 
      .left
        padding: 0
        margin: 0 0 30px 0
      .right
        padding: 0
        .item
          &.item-text-left, &.item-text-right
            .text, img
              width: 100%
          &.item-text-left
            margin: 0 0 30px 0
    &.bg-5 
      .item 
        a 
          .text
            width: calc(100% - 150px)
    &.bg-6
      .col-lg-6:nth-child(1),.col-lg-6:nth-child(2)
        margin: 0 0 30px 0
    &.bg-8 
      h2
        &::before
          left: 0
          top: 	-20px
        &::after
          right: 0
          bottom: 	-20px
    &.bg-9
      .bg-2
        padding: 30px 0
  .introduce_ct 
    .item
      &:nth-child(1)
        margin: 0 0 30px 0
  .booking_ct 
    .booking_inn
      margin: 0
  .giohang_ct
    .cart 
      .cart-item
        display: inline-block
        .img, .text, .price, .number
          width: 50%
          float: left
        .text, .price, .number
          padding: 0 0 0 20px
        .text
          p
            margin: 0 0 10px 0
          a
            position: unset
        .number
          margin: 10px 0 0 0 
  .news_top 
    .left 
      .item
        margin: 0 0 30px 0
  .product_detail_ct 
    .left 
      img
        margin: 0 0 30px 0
@media(max-width: 767px)
  #header
    #logo
      flex: 0 0 40%
      max-width: 40%
      img
        width: 100%
    #menu
      flex: 0 0 25%
      max-width: 25%
    #header-rg
      flex: 0 0 35%
      max-width: 35%
      .search
        margin: 0 10px 0 0
      .cart
        margin: 0
    #openmenu
      top: 56px
  .section
    padding: 30px 0
    .heading
      h2
        font-size: 30px
    &.bg-1 
      .item
        margin: 0 0 30px 0 !important
        padding: 0
        &:last-child
          margin: 0 !important
    &.bg-2 
      .button
        width: 100%
      .item
        padding: 15px
    &.bg-5 
      .item 
        a 
          display: block
          .img
            position: unset
            width: 153px
            height: 158px
            margin: 0 auto
            &::before
              display: none
          .text
            width: 100%
            padding: 15px
            span
              bottom: 15px
              right: 15px
    &.bg-6
      .col-lg-6
        margin: 0 0 30px 0
        &:last-child
          margin: 0
    &.bg-9 
      .bg-2 
        .text
          padding: 0 15px
  .breadcrumb 
    h1 
      span
        &:nth-child(1)
          font-size: 30px
  .introduce_ct 
    h2
      font-size: 30px
  #copyright 
    p
      text-align: center
    img
      float: none
      margin: 20px auto 0
      display: block
      max-width: 100%
  .giohang_ct
    .cart 
      padding: 0 15px 15px 15px
      .cart-item
        .img
          margin: 0 0 20px 0
        .img, .text, .price, .number
          width: 100%
          padding: 0
      a.next
        width: 100%
    .payment
      .next-step
        a
          font-size: 14px
  .mobile
    display: block
  .desktop
    display: none
  .dichvu_ct
    .bg_right
      padding: 0
      .nav
        background-color: #fff
        margin: 30px 0 0 0
        li
          a
            background: none
  .booking_ct 
    .booking_inn
      padding:  30px 15px
      .head 
        h2
          background: none
          width: 100%
          line-height: 50px
      .button
        width: 100%
        font-size: 18px
  .thanhtoan_ct 
    .don-hang
      padding: 30px 15px
  .news_top 
    .left 
      .item 
        h2
          position: unset
          color: #000
          font-size: 30px
          line-height: 40px
          padding: 15px15px
    .right
      .item
        display: block
        .img
          width: 100%
          margin: 0 0 15px 0
        .text
          width: 100%
          padding: 0
  .news_bottom 
    .left 
      .item
        display: block
        .img
          width: 100%
          margin: 0 0 15px 0
        .text
          width: 100%
          padding: 0
  .product_detail_ct 
    .right 
      .order 
        input.submit
          width: 100%
          margin: 30px 0 0 0