@charset "UTF-8"

@font-face
  font-family: 'Gotham-Light'
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Nunito-ExtraLight'
  src: url("../fonts/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-ExtraLight.woff") format("woff"), url("../fonts/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HLTElisa'
  src: url("../fonts/HLTElisa.eot?#iefix") format("embedded-opentype"), url("../fonts/HLTElisa.woff") format("woff"), url("../fonts/HLTElisa.ttf") format("truetype"), url("../fonts/HLTElisa.svg#HLTElisa") format("svg")
  font-weight: normal
  font-style: normal

button, select, input
  outline: none !important

a
  text-decoration: none

  &:hover
    text-decoration: none

  &.button
    color: #fff

.button
  background: #38C2DC
  border-radius: 30px
  height: 50px
  display: inline-block
  padding: 0 20px
  color: #fff
  line-height: 50px
input, select
  font-family: Nunito
  font-size: 16px
  color: #636363
  &::placeholder
    color: #636363
.row
  margin-left: 0
  margin-right: 0

#header
  background-color: #38C2DC
  padding: 12px 0
  position: relative

  .icon
    background: url("../img/i-menu.png") no-repeat
    width: 32px
    height: 22px

    &.active
      background: url("../img/close.png") no-repeat
      height: 32px
      width: 32px

  #openmenu
    position: absolute
    background-color: #fff
    z-index: 10
    width: 100%
    top: 68px
    display: none

    &.active
      display: block

    > ul
      margin: 0
      padding: 30px 0
      text-align: center

      li.top
        list-style: none
        padding: 10px 0

        > a
          font-family: Nunito
          font-size: 16px
          line-height: 22px
          text-transform: uppercase
          color: #262626

        ul.sub
          display: none
          margin: 10px 0 0 0
          padding: 0

          li
            padding: 10px 0
            list-style: none

            a
              font-family: Nunito
              font-size: 16px
              line-height: 22px
              text-align: center
              color: #262626

        &.open
          a.head
            background: url("../img/Polygon 25.png") right center no-repeat
            padding-right: 15px

          &.active
            a.head
              background: url("../img/Polygon 24.png") right 25px center #38C2DC no-repeat
              padding: 10px 40px
              color: #fff

            ul.sub
              display: block

    .chose_language
      padding: 0 0 30px 0

      p
        font-family: Nunito
        font-size: 16px
        line-height: 22px
        text-transform: uppercase
        color: #262626
        text-align: center

      ul
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        margin: 0
        padding: 0

        li
          list-style: none
          margin: 0 15px 0 0

          &:last-child
            margin: 0
  #searchmenu
    position: absolute
    background-color: #fff
    z-index: 12
    width: 100%
    top: 68px
    padding: 30px
    display: none
    &.active
      display: block
    form
      position: relative
      input.text
        width: 100%
        border: none
        background-color: #F7F7F7
        height: 56px
      span.close
        position: absolute
        top: 14px
        right: 15px
      input.submit
        background: url("../img/search-menu.png") no-repeat
        position: absolute
        top: 14px
        left: 15px
        width: 27px
        height: 27px
        border: none
  #header-rg
    .search
      margin: 0 30px 0 0
      cursor: pointer
    .cart
      position: relative
      margin: 0 35px 0 0

      span
        position: absolute
        width: 17px
        height: 17px
        border-radius: 50%
        background-color: #EC5598
        text-align: center
        color: #fff
        font-size: 12px
        right: -7px
        top: 0
        line-height: 17px

    .language
      img
        margin: 0 10px 0 0

      span
        background: url("../img/arrow.png") right center no-repeat
        padding: 0 10px 0 0
        color: #fff
        font-size: 16px

#footer
  border-top: 6px solid #38C2DC
  background-color: #3B3B3B
  padding: 50px 0

  .item
    h3
      background: url("../img/Frame.png") left center no-repeat
      padding-left: 40px
      margin: 20px 00 10px 0
      font-family: Prata
      font-size: 20px
      line-height: 27px
      color: #38C2DC
      text-transform: uppercase
      position: relative

      &::after
        content: ""
        width: 100%
        height: 1px
        background: #FFFFFF
        opacity: 0.3
        display: block
        position: absolute
        left: 0
        bottom: -10px

    .content
      margin: 20px 0 0 0

      &:nth-child(2)
        margin: 40px 0 0 0

      span
        font-family: 'Nunito-ExtraLight'
        font-size: 16px
        line-height: 26px
        color: #38C2DC
        display: block

      a
        font-family: 'Nunito-ExtraLight'
        font-size: 16px
        line-height: 26px
        color: #DADADA

    .content2
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between
      margin: 5px 0 0 0

      span
        font-family: 'Nunito-ExtraLight'
        font-size: 16px
        line-height: 26px
        color: #DBDADA
        margin: 5px 0 0 0

    ul
      margin: 40px 0 0 0
      padding: 0

      li
        list-style: none

        a
          font-family: 'Nunito-ExtraLight'
          font-size: 16px
          line-height: 35px
          color: #DADADA

    &:nth-child(1)
      img
        margin: 0 0 20px 0

      p
        font-family: 'Nunito-ExtraLight'
        font-size: 16px
        line-height: 26px
        color: #DBDADA
        margin: 0 0 20px 0

    &:nth-child(3) p
      font-family: 'Nunito-ExtraLight'
      font-size: 16px
      line-height: 35px
      color: #DADADA

#copyright
  background-color: #2D2D2D
  padding: 20px 0

  p
    font-family: 'Nunito-ExtraLight'
    font-size: 14px
    line-height: 26px
    color: #DADADA
    margin: 00

  img
    float: right

.breadcrumb
  background-size: cover !important
  margin: 0
  padding: 0

  &.intro
    background: url("../img/breadcrumb/bg_intro.png") center center no-repeat
    height: 388px

  &.khoahoc
    background: url("../img/khoahoc/bg.png") center center no-repeat
    height: 388px

  &.dichvu
    background: url("../img/dichvu/bg.png") center center no-repeat
    height: 388px

  &.products
    background: url("../img/sanpham/bg.png") center center no-repeat
    height: 388px

  &.contact
    background: url("../img/contact/bg.png") center center no-repeat
    height: 388px

  &.booking
    background: url("../img/booking/bg.png") center center no-repeat
    height: 388px

    h1 span:nth-child(2) img
      margin: 0 10px 0 0

  &.giohang
    background-color: #fff

    h1
      margin: 0

      span:nth-child(1)
        font-family: Prata
        font-size: 50px
        text-align: center
        text-transform: uppercase
        color: #38C2DC
        padding: 30px 15px 15px 15px
        display: block
  &.thanhtoan
    background-color: #fff

    h1
      margin: 0

      span:nth-child(1)
        font-family: Prata
        font-size: 50px
        text-align: center
        text-transform: uppercase
        color: #38C2DC
        padding: 30px 15px 15px 15px
        display: block

  h1
    text-align: center
    width: 100%

    span
      &:nth-child(1)
        font-family: Prata
        font-size: 50px
        color: #fff
        text-transform: uppercase

      &:nth-child(2)
        display: block
        font-family: Nunito
        font-size: 30px
        color: #fff
        margin: 10px 0 0 0
        text-transform: unset

.slider
  .item
    height: 707px
    position: relative
    background-size: cover !important

  .caption
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    bottom: 50px
    text-align: center

    h1
      font-family: 'HLTElisa'
      font-size: 50px
      color: #fff
      margin: 0 0 20px 0

    h2
      font-family: 'Nunito-ExtraLight'
      font-size: 20px
      color: #fff
      font-weight: 400
      line-height: 26px
      margin: 0 0 20px 0

    .button
      font-family: 'Nunito-ExtraLight'
      font-size: 16px

  .owl-dots
    position: absolute
    right: 50px
    bottom: 50px

    .owl-dot
      display: block
      margin: 0 0 10px 0

      span
        width: 3px
        height: 20px
        background-color: #979797
        display: block

      &.active span
        background-color: #EC5598

.section
  padding: 70px 0
  background-size: cover !important

  &.bg-1
    background: url("../img/background/bg1.jpg") center center no-repeat

    h2
      text-align: center

    p
      text-align: center
      font-size: 20px

    .item
      padding: 0 30px

      &.item-1 a
        border-radius: 0px 0px 20px 0px

      &.item-2
        margin: 60px 0 0 0

        a
          border-radius: 0px 20px 0px 0px

      a
        display: block
        border: 2px solid #F7D3C6
        background-color: #fff

        img
          width: 100%

        h3
          font-family: 'Nunito'
          font-size: 20px
          line-height: 40px
          color: #38C2DC
          margin: 0
          text-align: center
          padding: 25px 0
          text-transform: uppercase

  &.bg-2
    background: url("../img/background/bg_xanh.jpg") center center no-repeat

    .bg
      background: url("../img/spa2/aa 1.png") center center no-repeat
      height: 643px

    .item
      background-color: #fff
      padding: 50px
      border-radius: 0px 0px 20px 0px

    .heading p
      font-size: 16px
      margin: 0 0 20px 0

    .button
      font-family: 'Nunito'
      text-transform: uppercase
      line-height: 50px
      width: 320px
      text-align: center
      font-size: 25px

  &.bg-3
    background: url("../img/background/bg_grey_dichvu.jpg") center center no-repeat

    .left
      padding: 0 30px 0 0

    .heading h2
      text-align: center
      margin: 0 0 50px 0

    .item
      background-color: #F7EFEC

      &.item-text-left
        .text, img
          width: 50%

      &.item-text-right
        .text, img
          width: 50%

      img
        width: 100%

      .text
        padding: 20px

        h4
          font-family: Nunito
          font-size: 20px
          line-height: 27px
          margin: 0 0 10px 00
          color: #38C2DC

        p
          font-size: 16px
          line-height: 30px
          color: #464646
          font-family: 'Nunito-ExtraLight'
          margin: 0

  &.bg-4
    .heading h2
      text-align: center
      margin: 0 0 50px 0

    .owl-nav
      .owl-prev
        background: url("../img/arrow-left.png") no-repeat
        width: 44px
        height: 44px
        position: absolute
        left: 30px
        top: 45%

        span
          opacity: 0

      .owl-next
        background: url("../img/arrow-right.png") no-repeat
        width: 44px
        height: 44px
        position: absolute
        right: 30px
        top: 45%

        span
          opacity: 0

  &.bg-5
    background: url("../img/background/bg.jpg") center center no-repeat

    .heading h2
      text-align: center
      margin: 0 0 50px 0

    .item a
      position: relative
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: end
      -ms-flex-pack: end
      justify-content: flex-end

      .img
        position: absolute
        left: 25px
        top: 120px

        &::before
          content: ""
          width: 181px
          height: 158px
          border: 3px solid #FFFFFF
          position: absolute
          display: block
          left: -25px
          top: 20px
          z-index: 1

        img
          position: relative
          z-index: 2

      .text
        width: 380px
        background-color: #fff
        padding: 50px
        border-radius: 0px 20px 20px 0px
        height: 430px
        position: relative

        h4
          font-family: Prata
          font-size: 20px
          line-height: 29px
          color: #38C2DC
          text-transform: uppercase
          margin: 0 0 10px 0

        p
          font-family: 'Nunito-ExtraLight'
          line-height: 28px
          font-size: 16px
          color: #464646

        span
          position: absolute
          bottom: 50px
          right: 50px
          font-family: 'Charmonman'
          color: #000
          font-size: 16px

    .owl-dots
      text-align: center
      margin: 50px 0 0 0

      .owl-dot
        display: inline-block
        margin: 0 10px 0px 0

        span
          width: 20px
          height: 3px
          background-color: #979797
          display: block

        &.active span
          background-color: #EC5598

  &.bg-6
    .heading h2
      text-align: center
      margin: 0 0 50px 0

    .item
      img
        width: 100%
        margin: 0 0 20px 00

      .text
        text-align: center

        h3
          font-family: Nunito
          font-size: 16px
          line-height: 22px
          color: #9F9F9F
          margin: 0 0 10px 0

        h4
          font-family: Nunito
          font-size: 16px
          line-height: 22px
          color: #000
          margin: 0 0 10px 0

        span
          font-size: 20px
          line-height: 27px
          text-align: center
          color: #38C2DC

  &.bg-7
    background: url("../img/background/bg_map.jpg") center center no-repeat

    .bg-map
      background-color: #fff
      padding: 10px
      width: 100%

    #map
      height: 485px
      width: 100%

    .content_map
      width: 313px
      height: 120px
      background-color: #fff

      h3
        font-family: 'Nunito-ExtraLight'
        font-size: 16px
        line-height: 26px
        text-transform: uppercase
        margin: 0 0 10px 0

      a
        font-family: 'Nunito-ExtraLight'
        font-size: 18px
        line-height: 22px
        -webkit-text-decoration-line: underline
        text-decoration-line: underline
        color: #37677E

  &.bg-8
    background: url("../img/Rectangle 166.png") center center no-repeat
    position: relative

    &::before
      content: ""
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: rgba(255, 255, 255, 0.8)
      z-index: 0

    h2
      font-family: Nunito
      font-size: 30px
      line-height: 50px
      text-align: center
      text-transform: uppercase
      color: #3B3B3B
      position: relative
      z-index: 2
      width: 100%

      &::before
        content: "“"
        font-size: 100px
        color: #3B3B3B
        position: absolute
        left: 30px

      &::after
        content: "”"
        font-size: 100px
        color: #3B3B3B
        position: absolute
        right: 100px
        bottom: -30px

  &.bg-9
    padding: 0

    .bg-1
      background: url("../img/spa9/Rectangle 167.png") left center no-repeat
      height: 442px
      background-size: cover

    .bg-2
      background: url("../img/spa9/bg_info_2.jpg") right center no-repeat

      .text
        padding: 0 50px

        h4
          font-family: Prata
          font-size: 30px
          position: relative
          text-transform: uppercase
          color: #38C2DC
          margin: 0 0 20px 0

          &::after
            content: ""
            position: absolute
            width: 152px
            height: 2px
            left: 0
            background: #38C2DC
            bottom: 0

        ul
          margin: 0
          padding: 0

          li
            list-style: none
            line-height: 22px
            margin: 0 0 20px 0

            img
              margin: 0 20px 0 00

            span, a
              font-size: 16px
              color: #000
              font-family: Nunito

  .heading
    width: 100%

    h2
      font-family: 'Prata'
      font-size: 40px
      color: #38C2DC
      text-transform: uppercase
      margin: 0 0 20px 0
      line-height: 147.1%

    p
      font-family: 'Nunito-ExtraLight'
      line-height: 35px
      color: #464646
      margin: 0 0 50px 0

    span.line
      width: 100px
      height: 1px
      background-color: #38C2DC
      display: block
      margin: 0 0 20px 0

.introduce_ct
  h2
    font-family: Prata
    font-size: 40px
    margin: 0 0 20px 0
    color: #38C2DC
    text-align: center

  p
    font-family: Nunito
    font-size: 16px
    line-height: 35px
    text-align: center
    color: #636363
    margin: 0 0 20px 0

  .item
    img
      width: 100%
      margin: 0 0 20px 0

    h4
      font-family: Nunito
      font-size: 16px
      line-height: 22px
      color: #38C2DC
      text-align: center

  .color1
    background-color: #FCFAF6
    padding: 50px 0

  .color2
    background-color: #FFF8F5
    padding: 50px 0

  .color3
    background-color: #f5f5f5
    padding: 50px 0

.khoahoc_ct
  padding: 0 0 30px 0
  background: url("../img/khoahoc/bg2.png") top center repeat

  .item
    margin: 30px 0 0 0
    display: block

    img
      width: 100%
      margin: 0 0 20px 0

    h2
      font-family: Nunito
      font-size: 20px
      line-height: 27px
      text-align: center
      text-transform: uppercase
      color: #38C2DC

.dichvu_ct
  background-color: #f5f5f5

  .nav
    border-bottom: 1px solid #D7D7D7
    padding: 30px 0

    li
      width: 100%

      a
        display: block
        font-family: Prata
        font-size: 30px
        line-height: 66px
        text-transform: uppercase
        color: #38C2DC
        width: 100%
        background: url("../img/dichvu/Polygon 10.png") right 30px no-repeat
        border: none
        padding: 9px 15px 9px 0

        &.active, &:hover
          border: none
          color: #38C2DC

  .tab-content
    margin: 30px 0 0 0
    .tab-pane
      padding: 0

    .item
      margin: 0 0 30px 0
      display: block
      background: #FFFFFF
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
      border-radius: 0px 0px 20px 0px

      img
        width: 100%
        margin: 0 0 20px 0

      h2
        font-family: Nunito
        font-size: 20px
        line-height: 27px
        text-align: center
        text-transform: uppercase
        color: #38C2DC
        padding: 30px

  .newslatest
    padding: 50px 0

    h4
      font-family: Prata
      font-size: 30px
      line-height: 50px
      text-transform: uppercase
      color: #38C2DC

    ul
      margin: 0
      padding: 0

      li
        list-style: none

        a
          display: -webkit-box
          display: -ms-flexbox
          display: flex
          margin: 0 0 30px 0

          img
            margin: 0 20px 0 0
            width: 111px
            height: 103px

          p
            font-family: Nunito
            font-size: 20px
            line-height: 30px
            color: #000000
            margin-top: -5px

  .bg_left
    background-color: #fff
  .danh_muc_dv
    display: none
  .thong-tin-lien-he
    border-top: 2px solid #D7D7D7
    padding: 50px 0 0 0
    h4
      font-family: Prata
      font-size: 30px
      line-height: 40px
      text-transform: uppercase
      color: #38C2DC
      margin: 0 0 10px 0
    p
      font-family: Nunito
      font-weight: 600
      font-size: 16px
      line-height: 30px
      color: #000000
      a
        color: #000000  
.sanpham_ct
  background-color: #fff

  .filter
    margin: 0 0 50px 0

    select
      font-family: Nunito
      font-size: 25px
      color: #636363
      border: none
      background: transparent
      margin: 50px 0 0 0

  .item
    background: #FFFFFF
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
    border-radius: 0px 0px 20px 0px
    display: block
    margin: 0 0 30px 0

    img
      width: 100%

    .text
      padding: 30px

      h2
        font-family: Nunito
        font-size: 20px
        line-height: 27px
        text-align: center
        color: #636363

      span
        font-family: Nunito
        font-size: 25px
        line-height: 34px
        color: #38C2DC
        text-align: center
        display: block

.contact_ct
  background: url("../img/contact/bg_lienhe.jpg") bottom center #F8F8F6 no-repeat
  padding: 50px 0

  .head
    width: 100%

    img
      display: block
      margin: 0 auto

    h2
      font-family: Prata
      font-size: 50px
      line-height: 66px
      text-align: center
      text-transform: uppercase
      color: #38C2DC
      position: relative
      margin: 50px 0

      &::before
        position: absolute
        content: ""
        width: 226px
        height: 1px
        background-color: #636363
        left: 0
        right: 0
        margin: 0 auto
        top: -30px

  .button
    border: none
    width: 200px
    border-radius: 30px
    font-size: 25px
    text-transform: uppercase
    margin: 0 auto
    display: block

.booking_ct
  background: url("../img/booking/bg_booking.jpg") top center no-repeat
  padding: 50px 0
  background-size: cover

  .booking_inn
    background-color: #fff
    margin: 0 100px
    padding: 50px

    .button
      border: none
      width: 400px
      border-radius: 30px
      font-size: 25px
      text-transform: uppercase
      margin: 0 auto
      display: block

    .head
      width: 100%
      margin: 0 0 30px 0

      h2
        font-family: Prata
        font-size: 30px
        text-align: center
        text-transform: uppercase
        color: #38C2DC
        position: relative
        margin: 0 auto
        background: url("../img/booking/bg_head.png") center center no-repeat
        width: 590px
        line-height: 140px

.form-general
  .form-group
    margin: 0 0 20px 0
    height: 84px

    &.date
      position: relative

      span
        position: absolute
        width: 90px
        line-height: 60px
        background: #38C2DC
        position: absolute
        right: 15px
        border-radius: 0 30px 30px 0
        text-align: center

  .form-input
    height: 60px
    background: #fff
    border: 1px solid #B9B9B9
    border-radius: 30px
    width: 100%
    padding: 0 20px

    select
      width: 100%
      border: 0px
      height: 58px
      background: transparent

  span.err
    margin: 10px 0 0 0
    font-family: Nunito
    font-size: 14px
    color: #FF0000
    display: block

.details
  background-color: #fff
  padding: 30px

  h2
    font-family: Nunito
    font-size: 25px
    line-height: 35px
    text-transform: uppercase
    color: #38C2DC
    margin: 0 0 10px 0

  h3
    font-family: Nunito
    font-size: 20px
    line-height: 30px
    color: #38C2DC

  ul
    margin: 0
    padding: 0

    li
      font-family: Nunito
      list-style: none
      font-size: 16px
      line-height: 40px
      color: #636363

  p
    font-family: Nunito
    font-size: 16px
    line-height: 40px
    color: #636363

  h4
    font-family: Nunito
    font-size: 16px
    line-height: 40px
    text-transform: uppercase
    color: #38C2DC
  .social
    display: flex
    align-items: center
    margin: 0 0 20px 0
    border-top: 1px solid #DDDDDD
    border-bottom: 1px solid #DDDDDD
    padding: 10px 0
    ul
      margin: 0
      padding: 0 
      display: flex
      align-items: center
      li
        list-style: none
        margin: 0 10px
  .comments
    h3
      font-family: Prata
      font-size: 30px
      line-height: 40px
      text-transform: uppercase
      color: #38C2DC
      margin: 0 0 20px 0
    .left
      padding: 0 20px 0 0
      width: 17%
      img
        width: 100%
    .right
      width: 83%
      span
        font-family: Nunito
        font-size: 16px
        line-height: 22px
        color: #636363
      textarea
        width: 100%
        background: #FFF8F5
        border: 1px solid #F7EFEC
        font-family: Nunito
        font-size: 10px
        line-height: 14px
        color: #707070
        height: 95px
      .button
        line-height: 40px
        height: 40px
    .comment-item
      padding: 20px 0
      border-bottom: 1px solid #E6E6E6
      .img
        display: flex
        align-items: center
        margin: 0 0 10px 0
        img 
          margin: 0 10px 0 0
        span
          font-family: Nunito
          font-size: 16px
          line-height: 22px
          color: #000000
      p
        font-family: Nunito
        font-weight: 300
        font-size: 16px
        line-height: 22px
        color: #3A3A3A
      .comment-reply
        display: flex
        align-items: center
        a
          margin: 0 20px 0 0
        .reply
          font-family: Nunito
          font-size: 13px
          line-height: 18px
          color: #007BFF
        .like
          display: flex
          align-items: center
          margin: 0 20px 0 0
          span
            font-family: Nunito
            font-size: 13px
            line-height: 18px
            color: #007BFF
            margin: 0 0 0 5px
        span.date
            font-family: Nunito
            font-size: 13px
            line-height: 18px
            color: #8E8E8E
.giohang_ct
  background-color: #f5f5f5
  height: 100%
  .cart
    background-color: #fff
    padding: 30px
    margin: 30px 0 0 0

    span.line
      width: 100%
      height: 1px
      background-color: #E3E3E3
      display: block
      margin: 15px 0 0 0

    a.next
      font-family: Nunito
      font-size: 20px
      line-height: 53px
      text-transform: uppercase
      color: #636363
      width: 375px
      border: 1px solid #000000
      border-radius: 30px
      margin: 30px auto 0
      display: block
      text-align: center

    .cart-item
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between
      padding: 15px 0

      .img
        width: 25%

        img
          width: 100%

      .text
        padding: 0 0 0 20px
        position: relative
        width: 40%

        h2
          font-family: Nunito
          font-size: 20px
          line-height: 30px
          text-transform: uppercase
          color: #000000

        p
          font-family: Nunito
          font-size: 16px
          line-height: 30px
          color: #636363

        a
          position: absolute
          bottom: 0
          left: 20px
          font-family: Nunito
          font-size: 16px
          line-height: 30px
          color: #898989

      .price
        width: 25%
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        padding: 0 20px
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-align: end
        -ms-flex-align: end
        align-items: flex-end

        .price-new
          font-family: Nunito
          font-size: 20px
          line-height: 30px
          color: #38C2DC

        .price-old
          font-size: 16px
          line-height: 30px
          color: #636366

          span
            font-family: Nunito
            font-weight: bold
            font-size: 16px
            line-height: 30px
            color: #000000

      .number
        width: 15%

        input
          width: 100%
          height: 55px
          border: 1px solid #C9C9C9
          border-radius: 30px
          text-align: right
          padding: 0 20px
  .payment
    background-color: #fff
    padding: 30px
    margin: 30px 0
    height: 100%
    .tam-tinh
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      padding: 0 0 20px 0
      border-bottom:  1px solid rgba(0, 0, 0, 0.2)
      span
        font-family: Nunito
        font-size: 20px
        line-height: 30px
        color: #000000
    .thanh-tien
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      span
        &.left
          font-family: Nunito
          font-weight: bold
          font-size: 20px
          line-height: 30px
          color: #000000
        &.right
          text-align: right
          font-family: Nunito
          font-weight: bold
          font-size: 20px
          line-height: 30px
          color: #38C2DC
          span
            display: block
            font-family: Nunito
            font-size: 16px
            line-height: 30px
            color: #B1B1B1
    .next-step
      margin: 0 0 20px 0
      a
        width: 100%
        background: #38C2DC
        border-radius: 30px
        line-height: 53px
        display: block
        text-align: center
        font-family: Nunito
        font-weight: bold
        font-size: 20px
        text-transform: uppercase
        color: #FFFFFF
    .ma-giam-gia
      position: relative
      span
        font-family: Nunito
        font-size: 16px
        line-height: 30px
        color: #000000
        margin: 0 0 20px 0
        display: block
      input.text
        border: 1px solid #C9C9C9
        background: #FFFFFF
        border-radius: 30px
        line-height: 53px
        width: 100%
        padding: 0 20px
      input.submit
        border: none
        width: 106px
        line-height: 53px
        background: #A7A2A2
        font-family: Nunito
        font-weight: bold
        font-size: 20px
        color: #FFFFFF
        position: absolute
        bottom: 0
        right: 0
        border-radius: 0 30px 30px 0
.thanhtoan_ct
  background-color: #f5f5f5
  .thong-tin-giao-hang
    background-color: #fff
    margin: 30px 0 0 0
    height: 100%
    .head
      padding: 30px 15px 15px 15px 
      h2
        font-family: Prata
        font-size: 20px
        line-height: 30px
        text-transform: uppercase
        color: #000000
  .don-hang
    background-color: #fff
    padding: 30px
    margin: 30px 0
    height: 100%
    .head
      display: flex
      justify-content: space-between
      h2 
        font-family: Prata
        font-size: 20px
        line-height: 30px
        text-transform: uppercase
        color: #000000
      a 
        width: 68px
        line-height: 32px
        background: #F0F0F0
        border: 1px solid #E5E5E5
        font-family: Nunito
        font-size: 16px
        text-transform: uppercase
        color: #636363
        text-align: center
        height: 32px
    .don-hang-item
      display: flex
      justify-content: space-between
      padding: 15px 0
      border-bottom: 1px solid #D6D6D6
      margin: 0 0 15px 0
      span.text                
        font-family: Nunito
        font-size: 20px
        line-height: 30px
        text-transform: uppercase
        color: #000000
        span
          color: #38C2DC
      span.price
        font-family: Nunito
        font-size: 20px
        line-height: 30px
        color: #000000
        padding: 0 0 0 15px
    .tam-tinh
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      padding: 0 0 20px 0
      border-bottom:  1px solid rgba(0, 0, 0, 0.2)
      span
        font-family: Nunito
        font-size: 20px
        line-height: 30px
        color: #000000
    .thanh-tien
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      span
        &.left
          font-family: Nunito
          font-weight: bold
          font-size: 20px
          line-height: 30px
          color: #000000
        &.right
          text-align: right
          font-family: Nunito
          font-weight: bold
          font-size: 20px
          line-height: 30px
          color: #38C2DC
          span
            display: block
            font-family: Nunito
            font-size: 16px
            line-height: 30px
            color: #B1B1B1
    .next-step
      margin: 0 0 20px 0
      a
        width: 100%
        background: #38C2DC
        border-radius: 30px
        line-height: 53px
        display: block
        text-align: center
        font-family: Nunito
        font-weight: bold
        font-size: 20px
        text-transform: uppercase
        color: #FFFFFF
.news_ct
  background-color: #f5f5f5
.news_top
  background-color: #ffffff
  padding: 20px 0 0 0
  .left
    img
      width: 100%
    .item
      position: relative
      display: block
      h2
        position: absolute
        bottom: 0
        padding: 30px
        font-family: Nunito
        font-size: 40px
        line-height: 50px
        color: #FFFFFF
  .right
    .item
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      .img
        width: 50%
        img
          width: 100%
      .text
        width: 50%
        padding: 0 0 0 15px
        h2 
          font-family: Nunito
          font-weight: 600
          font-size: 25px
          line-height: 26px
          color: #212121
        p
          font-family: Nunito
          font-size: 16px
          line-height: 23px
          color: #636363
          margin: 0 0 5px 0
        span
          font-family: Nunito
          font-size: 16px
          line-height: 23px
          color: #CDCDCD
.news_bottom
  background-color: #ffffff
  padding: 20px 0 0 0
  margin: 10px 0 0 0
  .right 
    img
      width: 100%
    .banner
      margin: 0 0 30px 0
    .newslatest
      h4 
        background: url("../img/news/Rectangle 207.png") left center no-repeat
        font-family: Nunito
        font-size: 25px
        line-height: 45px
        color: #FFFFFF
        width: 246px
        text-align: center
      ul
        margin: 0
        padding: 0
        li
          list-style: none
          a
            display: flex
            justify-content: space-between
            margin: 15px 0
            .img
              width: 40%
              img
                width: 100%
            .text
              width: 60%
              padding: 0 0 0 15px
              h2 
                font-family: Nunito
                font-weight: 600
                font-size: 20px
                line-height: 26px
                color: #212121
              span
                font-family: Nunito
                font-size: 16px
                line-height: 23px
                color: #CDCDCD
  .left
    .item
      display: flex
      justify-content: space-between
      margin: 0 0 20px 0
      .img
        width: 50%
        img
          width: 100%
      .text
        width: 50%
        padding: 0 0 0 15px
        h2 
          font-family: Nunito
          font-weight: 600
          font-size: 25px
          line-height: 26px
          color: #212121
        p
          font-family: Nunito
          font-size: 16px
          line-height: 23px
          color: #636363
          margin: 0 0 5px 0
        span
          font-family: Nunito
          font-size: 16px
          line-height: 23px
          color: #CDCDCD
.product_detail_ct
  padding: 30px
  & + .bg-6
    border-top: 10px solid #f5f5f5
  .left
    img
      width: 100%
  .right
    .breadcrumb_product
      margin: 0 0 20px 0
      ul
        margin: 0
        padding: 0
        li
          list-style: none
          a,span 
            font-family: Nunito 
            font-size: 16px
            line-height: 22px
            color: #9C9C9C
          a
            padding: 0 10px 0 0
          span 
            padding: 0 0 0 10px
    h1
      font-family: Nunito
      font-weight: 600
      font-size: 25px
      line-height: 30px
      color: #38C2DC
      margin: 0 0 20px 0
    .social
      display: flex
      align-items: center
      margin: 0 0 20px 0
      ul
        margin: 0
        padding: 0 
        display: flex
        align-items: center
        li
          list-style: none
          margin: 0 10px
    span.price
      font-family: Nunito
      font-weight: 600
      font-size: 25px
      line-height: 34px
      color: #EC5598
    .category
      font-family: Nunito
      font-size: 16px
      line-height: 22px
      color: #636363
      margin: 20px 0
      padding: 10px 0
      border-top: 1px dashed #CCCCCC
      border-bottom: 1px dashed #CCCCCC
      p
        margin: 0
    .tags
      font-family: Nunito
      font-size: 16px
      line-height: 22px
      color: #636363
      padding: 10px 0
      p
        margin: 0
    .order
      margin: 20px 0 0 00
      input.number
        width: 120px
        height: 55px
        border: 1px solid #C9C9C9
        border-radius: 30px
        text-align: right
        padding: 0 20px
      input.submit
        width: 300px
        height: 55px
        background: #38C2DC
        border-radius: 30px
        margin: 0 0 0 20px
        border: none
        font-family: Nunito
        font-weight: bold;
        font-size: 20px
        color: #FFFFFF
  .nav
    justify-content: center
    padding: 50px 0 0 0
    .nav-link
      font-family: Prata
      font-size: 30px
      line-height: 41px
      text-transform: uppercase
      color: #636363
      &:hover, &.active
        border: none
        border-bottom: 4px solid #38C2DC
        color: #38C2DC
  .tab-content
    padding: 30px 0 0 0
    #mota
      h2
        font-family: Nunito
        font-weight: 600
        font-size: 25px
        line-height: 50px
        text-transform: uppercase
        color: #38C2DC
      h3
        font-family: Nunito
        font-weight: 600
        font-size: 25px
        line-height: 40px
        text-transform: uppercase
        color: #636363
      p
        font-family: Nunito
        font-size: 20px
        line-height: 33px
        color: #636363
      .item
        img
          margin: 0 0 20px 0
          width: 100%
        p
          text-align: center
.mobile
  display: none