.container
    width: 1170px
    max-width: 1170px
#header
    background-color: #38C2DC
    padding: 12px 0
    #header-rg
        .search
            margin: 0 20px 0 0
        .cart
            position: relative
            margin: 0 25px 0 0
            span
                position: absolute
                width: 17px
                height: 17px
                border-radius: 50%
                background-color: #EC5598
                text-align: center
                color: #fff
                font-size: 12px
                right: -7px
                top: 0
                line-height: 17px
        .language
            img
                margin: 0 10px 0 0
            span
                background: url("../img/arrow.png") right center no-repeat
                padding: 0 10px 0 0
                color: #fff
                font-size: 16px
.slider
    .item
        height: 707px
        position: relative
    .caption
        position: absolute
        left: 0
        right: 0
        margin: 0 auto
        bottom: 50px
        img
            width: auto
    .owl-dots
        position: absolute
        right: 50px
        bottom: 50px
        .owl-dot
            display: block
            margin: 0 0 10px 0
            span
                width: 3px
                height: 20px
                background-color: #979797
                display: block
            &.active
                span
                    background-color: #EC5598