#footer
    .container
        .row
            .col-xl-3.item.col-lg-6
                a(href="#")
                    img(src="assets/img/logo-f.png", alt="")
                p Spa massage ấn huyệt trị liệu ứng dụng khí công và y học cổ truyền.
                p 18Bis/12 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1, TP. HCM (Hẻm vào nhà hàng HOA VIÊN)
            .col-xl-3.item.col-lg-6
                h3 Liên hệ
                .content 
                    span Phone
                    a(href="tel:02862860007") 028 6286 0007
                .content
                    span Email
                    a(href="mailto:contactus@gmail.com") contactus@gmail.com
                .content
                    span Social
                    .content2
                        a(href="#")
                            img(src="assets/img/Facebook.png", alt="")
                            span Facebook
                        a(href="#")
                            img(src="assets/img/twitter.png", alt="")
                            span Twitter
                        a(href="#")
                            img(src="assets/img/instagram.png", alt="")
                            span Instagram
            .col-xl-3.item.col-lg-6
                h3 thời gian mở cửa
                .content
                    p Mỗi ngày từ 
                        span(style="color: #38C2DC;display: inline-block") 9:00 – 22:00 
                        br
                        | Kể cả ngày lễ và Tết 
            .col-xl-3.item.col-lg-6
                h3 Danh mục
                ul
                    li
                        a(href="#") Giới thiệu 
                    li
                        a(href="#") Khóa học Message 
                    li
                        a(href="#") Dịch vụ trị liệu 
                    li
                        a(href="#") Sản phẩm 
                    li
                        a(href="#") Tin tức 
                    li
                        a(href="#") Liên hệ
#copyright
    .container
        .row.justify-content-between.align-items-center
            .col-lg-6
                p @ 2020 An Spa All Right Reserved
            .col-lg-6
                img(src="assets/img/imgf1.jpg", alt="")