#footer
    .container
        .row
            .item
                a(href="#")
                    img(src="assets/img/logo-f.png", alt="")
                p Spa massage ấn huyệt trị liệu ứng dụng khí công và y học cổ truyền.
                p 18Bis/12 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1, TP. HCM (Hẻm vào nhà hàng HOA VIÊN)
            .item
                h3 