#header
    .container
        .row.justify-content-between.align-items-center
            #menu.col-xl-2.col-lg-2.col-2
                .icon-menu

            #logo.col-xl-7.row.justify-content-center.col-lg-6.col-5
                a(href="#")
                    img(src="assets/img/logo.png",alt="")
            #header-rg.row.align-items-center.col-xl-3.justify-content-end.col-lg-4.col-5
                .search
                    .bg
                        .icon-search
                .cart
                    .icon-cart
                    span 1
                .language.desktop
                    img(src="assets/img/flag.png",alt="")
                    span VN
    #openmenu
        ul
            li.top
                a(href="#") Trang chủ
            li.top
                a(href="#") giới thiệu
            li.open.top
                a.head khóa học massage
                ul.sub
                    li
                        a(href="#") Khóa massage trị liệu 3 trong 1
                    li
                        a(href="#") Khóa massage trị liệu chuyên sâu
            li.open.top
                a.head dịch vụ trị liệu
                ul.sub
                    li
                        a(href="#") dịch vụ trị liệu 1
                    li
                        a(href="#") dịch vụ trị liệu 2
            li.open.top
                a.head sản phẩm
                ul.sub
                    li
                        a(href="#") sản phẩm 1
                    li
                        a(href="#") sản phẩm 2
            li.top
                a(href="#") tin tức
            li.top
                a(href="#") liên hệ
        .chose_language.mobile
            p chọn ngôn ngữ
            ul
                li
                    a
                        img(src="assets/img/languages/Rectangle 369.png", alt="")
                li
                    a
                        img(src="assets/img/languages/Rectangle 370.png", alt="")
                li
                    a
                        img(src="assets/img/languages/Rectangle 371.png", alt="")
                li
                    a
                        img(src="assets/img/languages/Rectangle 372.png", alt="")
    #searchmenu
        .container
            .row
                .col-xl-12
                    form 
                        input(type='text').text
                        input(type='submit' value='').submit
                        span.close
                            img(src="assets/img/close-menu.png", alt="")