#header
    .container
        .row.justify-content-between.align-items-center
            #menu.col-xl-2.col-lg-2
                img(src="assets/img/i-menu.png", alt="")
            #logo.col-xl-7.row.justify-content-center.col-lg-6
                a(href="#")
                    img(src="assets/img/logo.png",alt="")
            #header-rg.row.align-items-center.col-xl-3.justify-content-end.col-lg-4
                .search
                    img(src="assets/img/i-search.png",alt="")
                .cart
                    img(src="assets/img/i-cart.png", alt="")
                    span 1
                .language
                    img(src="assets/img/flag.png",alt="")
                    span VN