#header
    .container
        .row.justify-content-between.align-items-center
            #menu
                img(src="assets/img/i-menu.png", alt="")
            #logo
                a(href="#")
                    img(src="assets/img/logo.png",alt="")
            #header-rg.row.align-items-center
                .search
                    img(src="assets/img/i-search.png",alt="")
                .cart
                    img(src="assets/img/i-cart.png", alt="")
                    span 1
                .language
                    img(src="assets/img/flag.png",alt="")
                    span VN