.section.bg-8(data-aos="fade-up"  data-aos-duration="2000")
  .container
    .row
      h2 Sứ mệnh của đội ngũ An’s Spa chính là mang đến niềm vui 
        br
        | thông qua sự Thư Giãn – Khoẻ Mạnh và từ đó là Hạnh 
        br
        | Phúc đến từng quý khách đến với An’s Spa.