.section.bg-5
  .row
    .heading
      h2 KHÁCH HÀNG NÓI VỀ AN’S SPA
  .row 
    .owl-carousel.owl-theme.customer
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 112.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 113.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 114.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 112.png", alt="")