.section.bg-2(data-aos="fade-up"  data-aos-duration="3000")
  .container 
    .row 
      .col-xl-7.bg.col-lg-12
      .col-xl-5.item.col-lg-12
        .heading
          h2 Trải nghiệm dịch vụ
          span.line
          p 
            span(style="text-transform: uppercase; font-family: 'Nunito'") Chào mừng bạn đến với An’s Spa
            br
            | Với các bài massage ứng dụng khí công và day ấn huyệt, đặc biệt là massage đầu có 1 không 2 tại Việt Nam, được nghiên cứu bởi chuyên gia trên 25 năm kinh nghiệm trong ngành, An’s Spa sẽ đáp ứng đa dạng nhu cầu của bạn từ thư giãn đến điều trị bệnh lý. Đội ngũ của An’s Spa luôn tận tâm, hết lòng vì sự hài lòng, sức khoẻ và sắc đẹp của khách hàng.
          a.button(href="#") Đặt lịch ngay 