.section.bg-5
  .container
    .row
      .heading
        h2 KHÁCH HÀNG NÓI VỀ AN’S SPA
    .row 
      .owl-carousel.owl-theme.customer
        .item
          a(href="#")
            .img
              img(src="assets/img/spa5/Rectangle 116.png", alt="")
            .text
              h4 Friendly spa!
              p Tại AN’s Spa từ cô chủ đến nhân viên rất thân thiện và hòa đồng. Liệu trình trị liệu mà mình làm rất đã tay, rất thoải mái mà không hề cảm thấy đau. Bạn hãy đến đây thử 1 lần, nhất định bạn sẽ hài lòng ^^. Anh/Chị/Em có nhu cầu chăm sóc sức khỏe, hồi phục sức khỏe để tiếp tục công tác tốt hãy đến AN’s Spa nhé!
              span Chị Phương Anh
        .item
          a(href="#")
            .img
              img(src="assets/img/spa5/Rectangle 120.png", alt="")
            .text
              h4 Spa trị liệu vi diệu!!
              p Hôm nay may mắn đc người bạn mời đi Spa này. Spa trị liệu việt rất vi diệu. Kỹ thuật massage ko dùng nhiều thể lực như Massage Thailand, kèm theo các bài day, bấm huyệt nên sau khi massage cảm giá không bị đau lưu như Massage Thailand mà thể lực còn được phục hồi, đặc biệt ấn tượng với Massage chân và massage đầu của AN’s Spa.
              span Chị Nhung
        .item
          a(href="#")
            .img
              img(src="assets/img/spa5/Rectangle 116.png", alt="")
            .text
              h4 Friendly spa!
              p Tại AN’s Spa từ cô chủ đến nhân viên rất thân thiện và hòa đồng. Liệu trình trị liệu mà mình làm rất đã tay, rất thoải mái mà không hề cảm thấy đau. Bạn hãy đến đây thử 1 lần, nhất định bạn sẽ hài lòng ^^. Anh/Chị/Em có nhu cầu chăm sóc sức khỏe, hồi phục sức khỏe để tiếp tục công tác tốt hãy đến AN’s Spa nhé!
              span Chị Phương Anh
        .item
          a(href="#")
            .img
              img(src="assets/img/spa5/Rectangle 120.png", alt="")
            .text
              h4 Spa trị liệu vi diệu!!
              p Hôm nay may mắn đc người bạn mời đi Spa này. Spa trị liệu việt rất vi diệu. Kỹ thuật massage ko dùng nhiều thể lực như Massage Thailand, kèm theo các bài day, bấm huyệt nên sau khi massage cảm giá không bị đau lưu như Massage Thailand mà thể lực còn được phục hồi, đặc biệt ấn tượng với Massage chân và massage đầu của AN’s Spa.
              span Chị Nhung