.section.bg-9(data-aos="fade-up"  data-aos-duration="2000")
  .row
    .col-xl-6.bg-1
    .col-xl-6.bg-2.row.align-items-center
      
        .text
          h4 AN’S SPA – Spa trị liệu Việt
          ul
            li
              .icon-location.icon
              span 
                strong Địa chỉ: 
                | 18Bis/12 Nguyễn Thị Minh Khai, Phường Đakao, Quận 1, TP. HCM
            li
              .icon-website.icon
              span 
                strong Website: 
                a(href="www.an-spa.vn") www.an-spa.vn
            li
              .icon-time.icon
              span 
                strong Thời gian hoạt động: 
                | 9am – 9pm mỗi ngày trừ 1 số ngày lễ, Tết
            li
              .icon-call.icon
              span 
                strong Phone: 
                a(href="tel:(028) 6286 0007") (028) 6286 0007
            li
              .icon-facebook.icon
              span 
                strong Facebook: 
                a(href="https://www.facebook.com/ansspavn/") https://www.facebook.com/ansspavn/ 
            li
              .icon-instagram.icon
              span 
                strong Instagram: 
                a(href="#") @asspa