.section.bg-4
  .row
    .heading
      h2 Gallery
  .row 
    .owl-carousel.owl-theme.gallery
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 112.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 113.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 114.png", alt="")
      .item
        a(href="#")
          img(src="assets/img/spa4/Rectangle 113.png", alt="")