.section.bg-3(data-aos="fade-up"  data-aos-duration="3000")
  .container 
    .row
      .heading
        h2 Dịch vụ nổi bật
    .row 
      .col-xl-6.left.col-lg-12
        .item
          a(href="#")
            img(src="assets/img/spa3/Rectangle 107.png", alt="")
            .text
              h4 DỊCH VỤ TƯ VẤN & TRỊ LIỆU TẠI NHÀ
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      .col-xl-6.right.col-lg-12
        .row.item.item-text-left.align-items-center
          .text
            h4 GÓI CHĂM SÓC SỨC KHOẺ “REAL CARE”
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          img(src="assets/img/spa3/Rectangle 108.png", alt="")
        .row.item.item-text-right.align-items-center
          img(src="assets/img/spa3/Rectangle 109.png", alt="")
          .text
            h4 HEAD MASSAGE AN’S SPA SIGNATURE
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.