.section.bg-6
  .container
    .row
      .heading
        h2 Sản phẩm khuyến mãi
    .row 
      .col-xl-3.col-lg-6
        a(href="#").item
          img(src="assets/img/spa6/Rectangle 355.png", alt="")
          .text
            h3 MỸ PHẨM NỘI ĐỊA NHẬT
            h4 KEM DƯỠNG DA BAN ĐÊM CAO CẤP | SANSHO
            span 1,600,000₫
      .col-xl-3.col-lg-6
        a(href="#").item
          img(src="assets/img/spa6/Rectangle 356.png", alt="")
          .text
            h3 MỸ PHẨM NỘI ĐỊA NHẬT
            h4 SỮA RỬA MẶT SANSHO | Bubble Cleanser
            span 950,000₫
      .col-xl-3.col-lg-6
        a(href="#").item
          img(src="assets/img/spa6/Rectangle 357.png", alt="")
          .text
            h3 MỸ PHẨM NỘI ĐỊA NHẬT
            h4 TINH CHẤT TRÂN CHÂU SANSHO TÁI TẠO DA
            span 2,230,000₫
      .col-xl-3.col-lg-6
        a(href="#").item
          img(src="assets/img/spa6/Rectangle 358.png", alt="")
          .text
            h3 MỸ PHẨM NỘI ĐỊA NHẬT
            h4 NƯỚC HOA HỒNG SANSHO-NATURAL TONER
            span 1,050,000₫