.section.bg-1
  .container 
    .row
      .heading
        h2 Spa Trị Liệu Việt
        p AN’s Spa là một Spa trị liệu Việt với sự đồng hành của chủ tịch sáng lập mô hình Spa Việt – Lương y Phan Cao Bình. Tại
          br
          | AN’s Spa khách hàng sẽ được trải nghiệm các dịch vụ chăm sóc sức khoẻ hàng đầu, đồng thời mang lại sự thư giãn thực sự 
          br
          | cho khách hàng với những bài massage ấn huyệt ứng dụng khí công và y học cổ truyền do chuyên gia có trên 25 năm kinh
          br
          | nghiệm trực tiếp hướng dẫn.
    .row 
      .item.item-1.col-xl-4.col-lg-4
        a(href="#")
          img(src="assets/img/spa1/Rectangle 101.png", alt="")
          h3 Chăm Sóc Da Mặt
      .item.item-2.col-xl-4.col-lg-4
        a(href="#")
          h3 Massage Trị Liệu
          img(src="assets/img/spa1/Rectangle 102.png", alt="")
      .item.item-1.col-xl-4.col-lg-4
        a(href="#")
          img(src="assets/img/spa1/Rectangle 103.png", alt="")
          h3 Gội Đầu Thảo Dược