.owl-carousel.owl-theme.slider
	-for(i=0;i<2;i++)
		.item(style="background: url('assets/img/Slider.png') no-repeat center center" )
			.caption
				h1 Look Your Best
				h2 Lorem Ipsum is simply dummy text of the printing and 
					br
					| typesetting industry
				a.button(href="#") Schedule Appointment