.owl-carousel.owl-theme.slider
	.item(style="background: url('assets/img/Slider.png') no-repeat center center" )
		.caption
			img(src="assets/img/title.png","")
	.item(style="background: url('assets/img/Slider.png') no-repeat center center" )
		h1
				img(src="assets/img/title.png","")
